@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto:700');

body{
  font-family: 'Roboto Slab', serif;
  font-weight: lighter;
  text-align: justify;
  background: black url("../media/images/background.svg") top center;
  background-size: cover;
  color: #5c5c5c;
  background-repeat: no-repeat;
  line-height: normal;
}

/* .step1{
   background: black url("../media/images/backgroundstep1.svg") top center;"
   background-size: cover;
   background-repeat: no-repeat;
   padding: 0;
   margin: 0;
} */

header{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.menu{
  margin-right: 2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #433d83;
  transition: color .2s;
}

.menu:hover{
  color: #ff7edd;
}

h1{
  font-size: 2em;
  margin-bottom: 1em;
  font-family: 'Fredoka One', cursive;
  color: #ff7edd;
}

p{
  margin-bottom: 2em;
}


/* PARTIES FLEXBOX */

section{
margin-top: 15%;
display: flex;
justify-content: space-around;
align-items: center;
}

.section-content {
}

.column{
  max-width: 400px;
  min-width: 250px;
}

/* FIN PARTIES FLEXBOX */


.output {
    backgroud: #eee;
    position: relative;
}

ul{
  color: white;
  list-style-type: none;
  text-decoration: none;
}


/* BOUTONS */

.enavant{
  display: flex;
  justify-content: flex-end;
  transition: transform .2s;
}

.enavant:hover{
  transform: scale(1.1);
}

.next{
  margin-right: 30px;
  transition: transform .2s;
}

.next:hover{
  transform: scale(1.1);
}

.back{
  margin-left: 30px;
  transition: transform .2s;
}

.back:hover{
  transform: scale(1.1);
}

.section-nav{
  margin-top: 10% !important;
  display: flex;
  justify-content: space-between;
}

/* BOUTONS */


footer {
    font-size: .8rem;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
