@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto:700');

body{
  font-family: 'Roboto Slab', serif;
  font-weight: lighter;
  text-align: justify;
  background: black url("../media/images/background.svg") top center;
  background-size: cover;
  color: #5c5c5c;
  background-repeat: no-repeat;
  line-height: normal;
}

/* .step1{
   background: black url("../media/images/backgroundstep1.svg") top center;"
   background-size: cover;
   padding: 0;
   margin: 0;
} */

header{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.menu{
  margin-right: 2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #433d83;
  transition: color .2s;
}

.menu:hover{
  color: #ff7edd;
}

h1{
  font-size: 2em;
  margin-bottom: 1em;
  font-family: 'Fredoka One', cursive;
  color: #ff7edd;
}

p{
  margin-bottom: 2em;
}


/* PARTIES FLEXBOX */

section{
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 90vw;
  min-height: 85vh;
  margin-bottom: 0;
  margin-top: 0;
}

.section-content {
}

.column{
  max-width: 400px;
  min-width: 250px;
}

/* FIN PARTIES FLEXBOX */

.videos{
  display: flex;
  justify-content: center;
  width: 95%;
  margin: auto;
}

.boutonsbas{
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  display: flex;
  justify-content: center;
  margin: auto;
}

/* BOUTONS */

.enavant{
  display: flex;
  justify-content: flex-end;
  transition: transform .2s;
}

.enavant:hover{
  transform: scale(1.1);
}

.flechebas{
  transition: transform .2s;
}

.flechebas:hover{
  transform: scale(1.1);
}

.next{
  float: right;
  margin-right: 30px;
  transition: transform .2s;
}

.next:hover{
  transform: scale(1.1);
}

.back{
  margin-left: 30px;
  transition: transform .2s;
}

.back:hover{
  transform: scale(1.1);
}

.section-nav{
  margin-top: 8% !important;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

/* FIN BOUTONS */


footer {
    font-size: .8rem;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
